* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(106, 105, 104);
}

Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    background-color: rgb(51, 50, 50);
    justify-content: space-between;
}

.nav-heading {
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.nav-item {
    background-color: none !important;
}

h1 {
    color: black;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 19px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin-bottom: 16px;
    transition: 0.4s;
}

.search-box input {
    display: block;
    appearance: none;
    outline: none;
    border: none;
    padding: 16px;
    width: 100%;
    transition: 0.4s;
}

.search-box:focus-within {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.searchBtn {
    background-color: rgb(242, 242, 245);
    padding: 17px 10px;
}

.results {
    margin: 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.result {
    width: 27rem;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 10px;
    transition: 0.4s;
    text-align: center;
}

.result h3 {
    color: black;
    font-size: 28px;
    margin-bottom: 16px;
}

.result p {
    color: black;
    font-size:18px;
    margin-bottom: 16px;
}

.result .more-btn{
    display: inline-block;
    padding: 12px 16px;
    background-color: rgb(186, 179, 179);
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.4s;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    font-size: 24px;
    color: white;
    height: 50px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

  .more-info {
      display: none;

  }

  /* Login Form CSS */

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}